@font-face {
    font-family: sans-serif;
    src: url(../assets/PixelifySans-Regular.ttf);
  }

body {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
    overflow: hidden;
}

#port {
    width: 100%;
    height: 100%;
    position: relative;
}

#textbox {
    display: none;
}

#text {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2vh;
    min-height: 10vh;
    background: white;
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
    overflow: auto;
}

.u-text {
    margin: 0;
    user-select: none;
}

.button-close {
    font-family: "Pixelify Sans", sans-serif;
    border-style: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
}

.button-con {
    align-self: flex-end;
    margin-top: 1rem;
}

.note {
    position: absolute;
    left: 5%;
    top: 1vh;
    display: flex;
    flex-direction: column;
    color: rgb(238, 238, 238);
}